{% extends "base.html" %}

{% block title %}GuestBook | Filtron{% endblock title%}

{% block content %}

    <form id="input" method="post">
        <input type="text" name="name"><br>
        <input type="email" name="email" required><br>
        <textarea name="message" placeholder="Leave your message here." rows="8" cols="80%" required></textarea><br><br>
        <button type="submit">Submit</button>

    </form>

    {% for message in messages %}
        <p> <b>{{ message.name }}</b> ( {{ message.email }} ),  {{ message.created.strftime ("%d.%m.%Y, %H:%M") }}</p>
        <em>{{ message.message }}</em>
    {% endfor %}

{% endblock content %}
</body>


{% endblock content %}